.wrapper{
    padding: 0 5px;
}

ul{    
  margin: 0;
}

h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px; 
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #39513F;
    text-align: center;
    margin: 0 0 10px;
}

.intro{
    margin-bottom: 30px;
.intro_text{
    text-indent: 30px;
    text-align: justify;
    margin: 0;

span{
    font-weight: bold;
}
}    
}

.sympts{
    margin-bottom: 30px;
.sympts_main{
.sympts_img{
    width: 100%;
    height: 100%;
}
.sympts_description{
.sympts_description-title{
    margin: 0 10px 10px 10px;
}
.sympts_description-items{
    margin: 0 0 15px;
    list-style-type: none;
    padding-left: 30px;

li{
    position: relative;
    padding-left: 15px;
}    
li::before{
    content: '\2713\0020';
    color: #39513F; 
    font-weight: bold; 
    position: absolute;
    left: 0;
    top: 0;
}
}
}
}
.sympts_text{
    text-indent: 30px;
    text-align: justify;
    margin: 0;
span{
    font-weight: bold;
}
}    
}

.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
.faq_subtitle{
    font-weight: normal;
    text-transform: none;
}
.faq_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

details{
  width: 90%;  
  background-color: #EADAC5;
  border-radius: 4px;
}

summary{
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

summary:after{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #39513F;;
    border-inline: 7px solid transparent;
}

p{
    margin: 0;
    padding: 10px;
    text-align: justify;

span{
font-weight: bold;
}
}

details[open] {
  background-color: #EADAC5;

summary{
    border-bottom: 5px solid #fff;
}
}

details[open] summary:after{
    transform: rotate(180deg);
    transition: 0.3s;
}
} 
}

.gnatprice{
    margin-bottom: 30px;
table{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #39513F;
  border-collapse: collapse;
  min-width: 310px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

tr{
  height: 80px;

td{
  color: #fff;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  border-bottom:  1.50px solid #fff;
}
      
.table_price{
  width: 70px;
  padding: 20px 10px 20px 0;
}
}
}
.gnatprice_function{
    margin-bottom: 20px;
.gnatprice_function-description{
    overflow: hidden;
img{
    width: 35%;
    float: left;
    margin-right: 5px;
}
p{
    text-align: justify;
    margin: 0;
}
}    
}
.gnatprice_splint{
.gnatprice_splint-description{
    overflow: hidden;
img{
    width: 35%;
    float: left;
    margin-right: 5px;
}
p{
    text-align: justify;
    margin: 0;
}
}    
}
}


/*MEDIA*/

@media(min-width: 768px){
.sympts{
    margin-bottom: 50px;
.sympts_main{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
.sympts_img{
    width: 50%;
    height: 50%;
}
}
.sympts_text{
    text-align: center;
}    
} 

.faq{
    align-items: normal;
}

.gnatprice{
.gnatprice_function{
.gnatprice_function-description{
    display: flex;
    gap: 10px;
}
}
.gnatprice_splint{
.gnatprice_splint-description{
   display: flex;
   gap: 10px; 
}    
}
}
}


@media(min-width: 1440px){
h4{
    font-size: 48px;
    line-height: 54px; 
    font-weight: 800;
     margin: 0 0 30px;
}

.intro{
    margin-bottom: 50px;
.intro_text{
    text-indent: 0;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0;
}
}

.sympts{
.sympts_main{
.sympts_description{
.sympts_description-items{
li{
    font-size: 24px;
    line-height: 28px;
    padding-left: 30px;
}    
}
}
}
.sympts_text{
    font-size: 24px;
    line-height: 28px;
}
}

.faq{
  margin-bottom: 50px;
.faq_main{
  gap: 25px;

details{
 font-size: 18px;
 line-height: 24px;
}

details[open] {
summary{
    border-bottom: 10px solid #fff;
}
}
}
}

.gnatprice{
table{
tr{
td{
    font-size: 24px;
    line-height: 30px;
    padding: 25px;
}
.table_price{
  width: 100px;
  padding: 20px 40px 20px 0;
}
}
}
.gnatprice_function{
.gnatprice_function-description{
p{
   font-size: 18px;
   line-height: 24px;  
}
} 
}
.gnatprice_splint{
.gnatprice_splint-description{
p{
  font-size: 18px;
  line-height: 24px;   
}
} 
} 
}
}

