.description{
    width: 100%;
    background-color: #EADAC5;

.description_text{
    display: flex;
    flex-direction: column;
.description_text-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
img{
    width: 80px;
    height: 80px;
    transform: rotate(-25deg);
    border-radius: 50%;
    padding-left: 5px;
}
.title-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
h3{
margin: 5px 0 5px 0;
padding: 0 0 0 5px;
letter-spacing: normal;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
span{
    color: #000;
}
}
p{
    padding: 0 10px 0 10px;
    margin: 0;
    letter-spacing: 0.1em;
    text-align: justify;
}
}
}
.title-img{
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 0 auto 15px;
    border: 5px solid #fff;
}
.description_book{
    display: flex;
    flex-direction: column;  
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin: 0 5px 10px 5px;
    padding: 10px;
h4 {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 10px;
    color: #39513F;;
}
button{
    border: 2px solid #ff0000;
    border-radius: 20px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    background-color: #ff0000;
    padding: 10px;
 
a{
    color:#fff;
    text-decoration: none;
    padding: 10px;
}
}
p{
    margin-top: 10px;
}
}
}
.description_points{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
.point_one,
.point_two,
.point_three{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 5px 0 5px;
    padding: 5px;
img{
    width: 30px;
    height: 30px;
    padding-left: 10px;
}
p{
    font-weight: 600;
    text-align: center;
span{
    font-weight: normal;
}
}
}
}
.description_image{
display: none; 
}
}

.feedback{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    
.firstline{
    display: flex;
    justify-content: center;
    gap: 10px;
    
.feedback_yandex{
    max-width: 150px;
.feedback_yandex-logo{
    max-width: 125px;
    margin: 0 auto;
    height: 60px;
img{
    width: 100%;
}
}
.feedback_yandex-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
.star {
    position: relative;
    color: #ccc;
    font-size: 25px;
    line-height: 25px;
}
.star:first-child{
    margin-left: 5px;
}
.star::before {
    content: '★';
    position: absolute;
    color: #ffc107;
    clip-path: none; 
}
p{
   font-size: 25px;
   margin: 0 0 0 10px; 
}
}
.feedback_yandex-quantity{
p{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    justify-self: center;
}
}    
}

.feedback_2gis{
    max-width: 150px;
    margin-left: 5px;
.feedback_2gis-logo{
    max-width: 70px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
img{
    width: 100%;
}
}
.feedback_2gis-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
.star {
    position: relative;
    color: #ccc;
    font-size: 25px;
    line-height: 25px;
}
.star:first-child{
    margin-left: 5px;
}
.star::before {
    content: '★';
    position: absolute;
    color: #ffc107;
    clip-path: none; 
}
p{
   font-size: 25px;
   margin: 0 0 0 10px; 
}
}
.feedback_2gis-quantity{
p{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin: 0;
    justify-self: center;
    text-align: center;
}
}    
}
}

.second-line{
    display: flex;
    justify-content: center;
    margin-left: 5px;
.feedback_prodoctorov{
    max-width: 150px;
.feedback_prodoctorov-logo{
    max-width: 125px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
img{
    width: 100%;
}
}
.feedback_prodoctorov-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
    .star {
        position: relative;
        width: 25px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        color: #e4e5e9; 
    }
    
    .star:first-child {
        margin-left: 5px;
    }
    
    .star::before {
        content: '★';
        position: absolute;
        top: 0;
        left: 0;
        color: #ffc107;
        overflow: hidden;
    }
    
   
    .star:nth-child(1)::before { width: 100%; }
    .star:nth-child(2)::before { width: 100%; }
    .star:nth-child(3)::before { width: 100%; }
    .star:nth-child(4)::before { width: 100%; }
    .star:nth-child(5)::before { width: 80%; } 
    
    p {
        font-size: 25px;
        margin: 0 0 0 10px;
    }
}
.feedback_prodoctorov-quantity{
p{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin: 0;
    justify-self: center;
    text-align: center;
}
}    
}
} 
}

.doctors{
    background-color: #EADAC5;
    padding: 10px 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
.doctor_maksutov-title{
    margin: 0;
    text-align: center;
    padding: 10px;
}
.doctor_dergunov-title{
    margin: 0;
    text-align: center;
    padding: 10px;
}
.doctor_card{
    width: 310px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 5px;
.doctor_maksutov-descr,
.doctor_dergunov-descr{
    text-align: center;
    letter-spacing: 0.1em;
}

p{
    padding: 5px;
}

.doctor_maksutov-exp,
.doctor_dergunov-exp{
    text-align: center;
    font-weight: 600;
}

.doctor_maksutov-img,
.doctor_dergunov-img{
    width: 100%; 
}
}
}
 
.implantsystems{
    background-color: #EADAC5;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
.implantsystems_card{
     border-radius: 20px;
     background-color: #fff;
     padding: 30px 10px 10px;
     max-width: 320px;

.card_title{
    width: 290px;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 20px;
        
.card_title-img{
    width: 10%;
    transform: rotate(-25deg);
}

.card_title-straum{
    margin-left: 20px;
    width: 22%;
    transform: rotate(0);
    
}

.card_title-text{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    color: #39513F;
    font-size: 22px;
    line-height: 24px;
span{
    font-size: 16px;
    line-height: 18px;
}
}
}
}
.card_description{
    max-width: 270px;
    background-color: #EADAC5;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin: 0 auto 20px;
}
p{
    margin: 0;
    font-size: 18px;
    line-height: 20px;
}
.card_terms{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    
.card_terms-first{
    display: flex;
    justify-content: space-between;
     width: 100%;
p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    width: 45%;
span{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
}
}
.card_terms-second{
    display: flex;
    justify-content: space-between;
     width: 100%;
p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    width: 45%;
    text-align: center;
 
span{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
}
}
}
.card_price{
    margin: 0 auto 20px;
    max-width: 150px;
    background-color: #EADAC5;
    padding: 5px;
    border-radius: 20px;
}
p{
    font-size: 20px;
    text-align: center;
}
}

.guarantee{
    padding: 10px 5px;
    background-color: #EADAC5;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
.guarantee_origin{
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    max-width: 320px;
    height: 140px;
}
.guarantee_circon{
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    max-width: 320px;
    height: 140px;
.guarantee_circon-title{
    height: 40px;
}    
}
}

.viewsbefore{
    max-width: 320px;
    margin: 0 auto 20px;
    
.viewsbefore_container{
    border-radius: 20px;
    display: flex;
    overflow: hidden;
.viewsbefore_container-before{
    width: 50%;
     object-fit: cover
}
.viewsbefore_container-after{
     width: 50%;
      object-fit: cover
}
}
}

.booking{
    max-width: 1600px;
    display: flex;          
    justify-content: center; 
    align-items: center;    
    min-height: 100px; 
    margin: 0 auto; 
.booking_btn{
    border: 2px solid #ff0000;
    border-radius: 20px;
    font-size: 25px;
    line-height: 27px;
    font-weight: 600;
    background-color: #ff0000;
    padding: 10px;
    width: 310px;
    height: 100px;
    display: flex;
    align-items: center;
a{
    color:#fff;
    text-decoration: none;
    padding: 10px;
}
}
}

.videofeedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
.videofeedback_title{
    text-align: center;
}
.videofeedback_video{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 320px;
    padding: 0 5px 0;
}
video{
    width: 99%;
}
}

/*MEDIA*/

@media(min-width: 768px){
 .description{
    display: flex;
    max-width: 1600px;
    max-height: 600px;
    margin: 0 auto;
    align-items: stretch;
    
    .description_text{
      flex: 1;
      display: flex;
      flex-direction: column;
      
      .description_text-title{
        max-width: 400px;
        margin: 0 auto;
        
        .title-title{
          margin-bottom: 10px;
        }
      }
      
      .title-img{
        display: none;
      }
      
      .description_points{
        align-items: center;
        flex-grow: 1; 
        
        .point_one,
        .point_two,
        .point_three{
          width: 365px;
        }
      }
      
      .description_book{
        padding: 10px 10px 0 10px;
        
        p{
          margin-top: 10px;
          padding: 0;
          margin-bottom: 10px;
        }
      }
    }
    
    .description_image{
      display: flex;
      flex: 1;
      max-height: 600px; 
      align-items: center;
      justify-content: center;
      
      img{
        width: 100%;
        height: 100%;
        max-height: 590px;
        object-fit: cover;
        object-position: center center; 
        padding: 5px;  
      } 
    }
  }

  .feedback{
    flex-direction: row;
    justify-content: center;
}

.doctors{
    max-width: 1600px;
    margin: 0 auto 25px;
    flex-direction: row;
    justify-content: center;
    gap: 40px;   
    
.doctor_card{
   height: 830px;
}
}

.implantsystems{
    max-width: 1600px;
    margin: 0 auto 25px;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.guarantee{
    max-width: 1600px;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 0 auto 25px;
}

.viewsbefore{
    max-width: 1600px;
    margin: 0 auto 25px;
}

.booking{
.booking_btn{
    width: 500px;
    height: 150px;
    display: block;
    font-size: 30px;
    line-height: 32px;
}
}

.videofeedback{
    margin: 0 auto 20px;
.videofeedback_video{
    flex-direction: row;
    justify-content: space-around;
    max-width: 1600px;
    
}
video{
    max-width: 45%;
    height: auto;
}
}
}

@media(min-width: 1000px){
.description{
     
.description_text{
    flex: 2;
    margin-top: 20px;
.description_text-title{
    margin-bottom: 30px;
    max-width: 700px;
    padding: 0 10px 0;
    
img{
    width: 150px;
    height: 150px;
    padding-left: 0; 
}
.title-title{
h3{
    font-size: 43px;
    line-height: 45px;
}
p{
    text-align: center;
}
}
}
.description_points{
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    max-width: 700px;
    justify-content: center;
    margin: 0 auto 30px;
    
.point_one,
.point_two,
.point_three{
  width: 300px;
}
}
.description_book{
    max-width: 600px;
    margin: 0 auto 10px;
}
}
.description_image {
      img {
        padding: 5px;
        box-sizing: border-box;
      }
    }
}
}

