@import './src/assets/styles/normalize.css';
@import './src/assets/styles/fonts.css';
@import './src/assets/styles/normalize.css';
@import './src/assets/styles/fonts.css';
* body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 0;
}
.wrapper .header .header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .header .header_inner .logo {
  max-width: 240px;
  margin-bottom: 20px;
}
.wrapper .header .header_inner .logo a {
  display: flex;
  text-decoration: none;
  color: #000;
}
.wrapper .header .header_inner .logo a img {
  width: 40%;
  height: 40%;
}
.wrapper .header .header_inner .logo a .logo_word {
  font-size: 35px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.wrapper .header .header_inner .logo a .logo_word .logo_word-small {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.wrapper .header .header_inner .contacts {
  display: flex;
  width: 100%;
  justify-content: center;
}
.wrapper .header .header_inner .contacts_btn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}
.wrapper .header .header_inner .drop_contacts {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 150px;
  padding: 20px;
  background-color: #39513F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transition: all 0.3s;
  width: 280px;
}
.wrapper .header .header_inner .drop_contacts._active {
  opacity: 1;
  visibility: visible;
}
.wrapper .header .header_inner .drop_contacts-phone,
.wrapper .header .header_inner .drop_contacts-mail,
.wrapper .header .header_inner .drop_contacts-adress {
  display: flex;
  justify-content: center;
}
.wrapper .header .header_inner .drop_contacts-phone a,
.wrapper .header .header_inner .drop_contacts-mail a,
.wrapper .header .header_inner .drop_contacts-adress a {
  display: flex;
  gap: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
}
.wrapper .header .header_inner .drop_contacts-phone a p,
.wrapper .header .header_inner .drop_contacts-mail a p,
.wrapper .header .header_inner .drop_contacts-adress a p {
  padding: 0;
  margin: 0;
}
.wrapper .header .header_inner .drop_contacts-phone span,
.wrapper .header .header_inner .drop_contacts-mail span,
.wrapper .header .header_inner .drop_contacts-adress span {
  display: flex;
  flex-direction: column;
}
.wrapper .header .header_inner .mainPage {
  color: #000;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
}
.wrapper .header .specialButton {
  display: none;
}
.wrapper .docs h2 {
  font-size: 32px;
  margin: 0 0 30px 0;
  color: #39513F;
  display: flex;
  justify-content: center;
}
.wrapper .docs .docs_item {
  margin: 0;
  padding: 0;
}
.wrapper .docs .docs_item .docs_item-link {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}
.wrapper .docs .docs_item .docs_item-link a {
  text-decoration: underline;
  text-underline-position: under;
  color: #39513F;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

/*MEDIA*/
@media (min-width: 768px) {
  .wrapper .header .header_inner .contacts_btn {
    display: none;
  }
  .wrapper .header .header_inner .drop_contacts {
    visibility: visible;
    opacity: 1;
    position: relative;
    background-color: transparent;
    flex-direction: row;
    width: auto;
    top: 0;
  }
  .wrapper .header .header_inner .drop_contacts .drop_contacts-phone a,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-mail a,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-adress a {
    color: #000;
  }
  .wrapper .header .header_inner .drop_contacts .drop_contacts-phone a svg path,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-mail a svg path,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-adress a svg path {
    stroke: #39513F;
  }
}
@media (min-width: 1100px) {
  .wrapper {
    max-width: 1200px;
  }
  .wrapper .header {
    margin-bottom: 40px;
  }
  .wrapper .header .header_inner {
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  .wrapper .header .header_inner .mainPage {
    width: auto;
    margin: 0;
  }
  .wrapper .header .header_inner .logo {
    margin: 0;
    max-width: none;
  }
  .wrapper .header .header_inner .logo a img {
    width: auto;
    height: auto;
  }
  .wrapper .header .header_inner .contacts .drop_contacts {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .header .header_inner .specialButton {
    display: block;
    padding: 0 20px;
  }
}/*# sourceMappingURL=law.css.map */