@import './src/assets/styles/normalize.css';
@import './src/assets/styles/fonts.css';

@import './src/assets/styles/normalize.css';
@import './src/assets/styles/fonts.css';

* body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color:#000000;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }

.wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 15px 0 0;

.header{

.header_inner{
    display: flex;
    flex-direction: column;
    align-items:center;

.logo{
    max-width: 240px;
    margin-bottom: 20px;    

a{
    display: flex;
    text-decoration: none;
    color: #000;
        
img{
    width: 40%;
    height: 40%;
}  
             
.logo_word{
    font-size: 35px;
    line-height: 30px;
    font-weight: 800;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    gap: 5px;
            
.logo_word-small{
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}  
}
}
}

.contacts{
    display: flex;
    width: 100%;
    justify-content: center;
}
      
.contacts_btn{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
}
      
.drop_contacts {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 150px;
    padding: 20px;
    background-color: #39513F;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 25px;
    transition: all .3s;
    width: 280px;
}
      
.drop_contacts._active {
    opacity: 1;
    visibility: visible;
}
      
.drop_contacts-phone,
.drop_contacts-mail,
.drop_contacts-adress{
    display: flex;
    justify-content: center;
      
a{
    display: flex;
    gap: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    align-items:center;
     
p{
    padding: 0;
    margin: 0;
}
}
      
span{
    display: flex;
    flex-direction: column;
}
}

.mainPage{
    color:#000;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
}
}

.specialButton{
    display: none;
}
}

.docs{

h2{
    font-size: 32px;
    margin: 0 0 30px 0;
    color: #39513F;
    display: flex;
    justify-content: center;
}

.docs_item{
    margin: 0;
    padding: 0;

.docs_item-link{
    list-style-type: none;
    text-align: center;
    margin-bottom:20px;
    
a{
    text-decoration: underline;
    text-underline-position: under;
    color: #39513F;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
}
}
}
}

/*MEDIA*/

@media(min-width:768px){
.wrapper{

.header{

.header_inner{

.contacts_btn{
    display: none;
}

.drop_contacts{
    visibility: visible;
    opacity: 1;
    position: relative;
    background-color: transparent;
    flex-direction: row;
    width: auto;
    top: 0;

.drop_contacts-phone,
.drop_contacts-mail,
.drop_contacts-adress{

a{
    color: #000;

svg{

path{
    stroke:#39513F;
}    
}
}
}    
}    
}
}
}
}

@media(min-width:1100px){
.wrapper{
    max-width: 1200px;

.header{
    margin-bottom: 40px;
.header_inner{
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;

.mainPage{
    width: auto;
    margin: 0;
}

.logo{
    margin: 0;
    max-width: none;

a{
               
img{
    width: auto;
    height: auto;
}
}
}

.contacts{
               
.drop_contacts{
    padding: 0;
}    
}
}
}
}
}

@media(min-width:1440px){
.header{

.header_inner{

.specialButton{
    display: block;
    padding: 0 20px;
}
}    
}
}
