html {
  scroll-behavior: smooth;
}

.unscroll {
  overflow: hidden;
}

* body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 15px 0 0;
}

h1 {
  color: #fff;
  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -0.03em;
  margin: 0;
}

h2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #39513F;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39513F;
}

/*HEADER*/
header {
  margin-bottom: 30px;
}
header .header_inner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-right: 5px;
  position: relative;
  justify-content: space-between;
}
header .header_inner .logo {
  max-width: 240px;
}
header .header_inner .logo a {
  display: flex;
  text-decoration: none;
  color: #000;
}
header .header_inner .logo a img {
  width: 40%;
  height: 40%;
}
header .header_inner .logo a .logo_word {
  font-size: 35px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
}
header .header_inner .logo a .logo_word .logo_word-small {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
header .header_inner .specialButton {
  display: none;
}

.burger {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: relative;
}
.burger span,
.burger ::before,
.burger ::after {
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: black;
  transition: transform 0.2s ease-out;
}
.burger ::before {
  content: "";
  transform: translateY(-10px);
}
.burger ::after {
  content: "";
  transform: translateY(10px);
}

.burger.active {
  z-index: 6;
}
.burger.active span {
  height: 0;
}
.burger.active ::before {
  transform: rotate(45deg);
  transition: transform 0.2s ease-out;
}
.burger.active ::after {
  transform: rotate(-45deg);
  transition: transform 0.2s ease-out;
}

.menu_list {
  display: none;
}

.menu_list.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 50px 0 0 0;
  margin: 0;
  background: #39513F;
  gap: 30px;
  z-index: 5;
}

.item {
  list-style-type: none;
  align-self: center;
  font-size: 24px;
  width: 100%;
  height: auto;
  text-align: center;
}

.item-link {
  color: white;
  padding: 15px 0;
  display: block;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-weight: 700;
  padding: 10px;
}

.contacts {
  display: flex;
  width: 100%;
  justify-content: center;
}

.contacts_btn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  background-color: transparent;
  border: none;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.drop_contacts {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 150px;
  padding: 20px;
  background-color: #39513F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.3s;
  width: 280px;
  z-index: 2;
}

.drop_contacts._active {
  opacity: 1;
  visibility: visible;
}

.drop_contacts-mail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drop_contacts-phone,
.drop_contacts-mail-one,
.drop_contacts-mail-two,
.drop_contacts-adress {
  display: flex;
  justify-content: center;
}
.drop_contacts-phone a,
.drop_contacts-mail-one a,
.drop_contacts-mail-two a,
.drop_contacts-adress a {
  display: flex;
  gap: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
}
.drop_contacts-phone a p,
.drop_contacts-mail-one a p,
.drop_contacts-mail-two a p,
.drop_contacts-adress a p {
  padding: 0;
  margin: 0;
}
.drop_contacts-phone span,
.drop_contacts-mail-one span,
.drop_contacts-mail-two span,
.drop_contacts-adress span {
  display: flex;
  flex-direction: column;
}

/*ABOUT_US*/
.about_us {
  margin-bottom: 50px;
}
.about_us .about_us_content {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/mainbg.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_us .about_us_content h1 {
  padding: 20px 0px 10px 5px;
  text-align: center;
}
.about_us .about_us_content p {
  display: none;
}
.about_us .about_us_content .properties .properties_item {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.about_us .about_us_content .properties .properties_item img {
  display: none;
}
.about_us .about_us_content .price_btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  background-color: #EADAC5;
  padding: 0;
  border: none;
  justify-content: center;
  margin: 0px 15px 20px 15px;
  max-width: 270px;
}
.about_us .about_us_content .price_btn a {
  text-decoration: none;
  color: #39513F;
  padding: 24px 19px;
}
.about_us .side_img {
  display: none;
}

/*road*/
.road {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.road .map {
  align-items: center;
  width: 100%;
  min-width: 320px;
}
.road .map iframe {
  width: 100%;
}

/*our_services*/
.our_services {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 80px;
  align-items: center;
}
.our_services .line {
  margin-bottom: 5px;
  background-image: url("../icons/double_line_price.png");
  background-repeat: repeat-x;
  min-height: 64px;
  width: 100%;
}
.our_services h3 {
  margin: 0;
  min-height: 115px;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
}
.our_services .block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.our_services .block .service {
  background-color: #EADAC5;
  max-width: 320px;
  border: 3px solid #39513F;
}
.our_services .block .service img {
  width: 100%;
  margin-bottom: 20px;
}
.our_services .block .service .service_btn {
  display: flex;
  justify-content: center;
  background-color: #39513F;
  margin-bottom: 30px;
}
.our_services .block .service .service_btn a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 15px 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
}

/*price*/
.price {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}
.price .line {
  margin-bottom: 5px;
  background-image: url("../icons/double_line_price.png");
  background-repeat: repeat-x;
  min-height: 64px;
}
.price h2 {
  margin: 20px 0;
}
.price table {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #39513F;
  border-collapse: collapse;
  min-width: 295px;
  box-sizing: border-box;
}
.price table tr {
  height: 80px;
}
.price table tr td {
  color: #fff;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1.5px solid #fff;
}
.price table tr .table_price {
  width: 70px;
  padding: 20px 10px 20px 0;
}

table tr:last-child td {
  border-bottom: none;
}

.full_price {
  text-align: center;
  padding: 10px;
  position: relative;
}
.full_price a {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}
.full_price a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.prodoc_widget {
  display: flex;
  justify-content: center;
}

/*footer*/
.footer .footer_inner {
  display: flex;
  flex-wrap: wrap;
  background-color: #39513F;
  color: #fff;
  justify-content: space-between;
  padding: 10px 20px;
}
.footer .footer_inner .footer_logo img {
  width: 40px;
  height: 40px;
}
.footer .footer_inner .footer_logo a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}
.footer .footer_inner .footer_logo a .logo_word {
  display: none;
}
.footer .footer_inner .docs a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}
.footer .footer_inner .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 5px;
}
.footer .footer_inner .info .license {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.footer .footer_inner .info .ofert {
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
}

/*MEDIA*/
@media (min-width: 540px) {
  .discount {
    display: flex;
    justify-content: center;
  }
  .discount img {
    width: 80%;
  }
  .footer .footer_inner {
    justify-content: space-between;
  }
  .footer .footer_inner .info {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .header {
    display: flex;
  }
  .header .header_inner {
    flex-direction: row;
    gap: 0;
    justify-content: center;
    margin-right: 0;
  }
  .header .burger {
    display: none;
  }
  .header .menu {
    order: 2;
    width: 100%;
    margin: 0;
  }
  .header .menu_list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background: #39513F;
    justify-content: space-between;
    padding: 0;
  }
  .header .menu_list .item {
    width: auto;
  }
  .header .menu_list .item .item-link {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
  }
  .header .contacts {
    order: 1;
    display: flex;
    width: auto;
  }
  .header .contacts .contacts_btn {
    display: none;
  }
  .header .contacts .drop_contacts {
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0;
    padding: 0px;
    background-color: transparent;
    flex-direction: row;
    width: auto;
  }
  .header .contacts .drop_contacts .drop_contacts-phone a,
  .header .contacts .drop_contacts .drop_contacts-mail-one a,
  .header .contacts .drop_contacts .drop_contacts-mail-two a,
  .header .contacts .drop_contacts .drop_contacts-adress a {
    color: #000;
  }
  .header .contacts .drop_contacts .drop_contacts-phone a svg path,
  .header .contacts .drop_contacts .drop_contacts-mail-one a svg path,
  .header .contacts .drop_contacts .drop_contacts-mail-two a svg path,
  .header .contacts .drop_contacts .drop_contacts-adress a svg path {
    stroke: #39513F;
  }
  .our_services {
    gap: 50px;
  }
  .our_services .block {
    flex-direction: row;
    gap: 50px;
  }
  .price .line {
    margin-bottom: 25px;
  }
  .price h2 {
    margin-bottom: 25px;
  }
  .footer .footer_inner {
    flex-wrap: nowrap;
  }
  .footer .footer_inner .info {
    order: 1;
  }
  .footer .footer_inner .info .license {
    margin: 0 0 12px;
  }
  .footer .footer_inner .info .ofert {
    margin: 0;
  }
  .footer .footer_inner .docs {
    order: 2;
  }
}
@media (min-width: 895px) {
  .wrapper {
    max-width: 1920px;
  }
  .wrapper .header .header_inner {
    justify-content: space-around;
    align-items: center;
  }
  .wrapper .header .header_inner .menu_list {
    padding: 0 25px;
  }
  .wrapper .header .header_inner .drop_contacts {
    margin-bottom: 65px;
    top: 25px;
    gap: 55px;
  }
  .wrapper .discount {
    margin-bottom: 80px;
  }
  .wrapper .footer .footer_inner {
    justify-content: space-around;
    padding: 20px;
    gap: 0;
  }
  .wrapper .footer .footer_inner .info {
    flex-grow: 0;
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 48px;
    line-height: 54px;
  }
  .wrapper {
    max-width: 1920px;
    margin-top: 55px;
  }
  .wrapper .header .header_inner .menu_list {
    padding: 0 150px;
  }
  .wrapper .header .header_inner .specialButton {
    display: block;
    order: 1;
  }
  .wrapper .our_services {
    align-items: normal;
  }
  .wrapper .our_services .block {
    gap: unset;
    justify-content: space-evenly;
  }
  .wrapper .our_services .block .service {
    max-width: 655px;
    min-height: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .our_services .block .service h3 {
    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 180px;
    display: flex;
    align-items: center;
  }
  .wrapper .our_services .block .service img {
    max-width: 650px;
    min-height: 400px;
    margin-bottom: 25px;
  }
  .wrapper .our_services .block .service .service_btn {
    max-width: 390px;
    max-height: 75px;
    margin: 0 0 50px 0;
  }
  .wrapper .our_services .block .service .service_btn a {
    padding: 20px 50px;
  }
  .wrapper .footer .footer_inner {
    justify-content: space-between;
  }
  .wrapper .footer .footer_inner .footer_logo a {
    display: flex;
    gap: 10px;
  }
  .wrapper .footer .footer_inner .footer_logo a .logo_word {
    display: flex;
    flex-direction: column;
  }
  .discount {
    margin-left: 200px;
    margin-right: 200px;
  }
  .discount img {
    width: 100%;
  }
  .price h2 {
    margin-bottom: 30px;
  }
  .price table tr td {
    font-size: 24px;
  }
  .price table tr .table_price {
    width: 120px;
  }
  .price table .full_price a {
    font-size: 32px;
  }
  .about_us {
    display: flex;
    max-height: 650px;
  }
  .about_us .about_us_content {
    width: 50%;
    background: #39513F;
  }
  .about_us .about_us_content h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 52px;
    margin: 55px 0 50px;
    padding: 0;
  }
  .about_us .about_us_content p {
    display: flex;
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 60px;
  }
  .about_us .about_us_content .properties {
    display: flex;
    gap: 0;
    margin-bottom: 60px;
    padding: 0;
    justify-content: space-around;
    width: 100%;
  }
  .about_us .about_us_content .properties .properties_item {
    text-align: center;
    list-style-type: none;
  }
  .about_us .about_us_content .properties .properties_item img {
    display: block;
    justify-self: center;
    margin: 0 auto 5px;
  }
  .about_us .about_us_content .price_btn {
    margin-bottom: 55px;
  }
  .about_us .side_img {
    display: flex;
    width: 50%;
  }
  .about_us .side_img img {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */