@import './src/assets/styles/normalize.css';
@import './src/assets/styles/fonts.css';
* body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 0;
}
.wrapper .header .header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .header .header_inner .logo {
  max-width: 240px;
  margin-bottom: 20px;
}
.wrapper .header .header_inner .logo a {
  display: flex;
  text-decoration: none;
  color: #000;
}
.wrapper .header .header_inner .logo a img {
  width: 40%;
  height: 40%;
}
.wrapper .header .header_inner .logo a .logo_word {
  font-size: 35px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.wrapper .header .header_inner .logo a .logo_word .logo_word-small {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.wrapper .header .header_inner .contacts {
  display: flex;
  width: 100%;
  justify-content: center;
}
.wrapper .header .header_inner .contacts_btn {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}
.wrapper .header .header_inner .drop_contacts {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 150px;
  padding: 20px;
  background-color: #39513F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.3s;
  width: 280px;
}
.wrapper .header .header_inner .drop_contacts._active {
  opacity: 1;
  visibility: visible;
}
.wrapper .header .header_inner .drop_contacts-mail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper .header .header_inner .drop_contacts-phone,
.wrapper .header .header_inner .drop_contacts-mail-one,
.wrapper .header .header_inner .drop_contacts-mail-two,
.wrapper .header .header_inner .drop_contacts-adress {
  display: flex;
  justify-content: center;
}
.wrapper .header .header_inner .drop_contacts-phone a,
.wrapper .header .header_inner .drop_contacts-mail-one a,
.wrapper .header .header_inner .drop_contacts-mail-two a,
.wrapper .header .header_inner .drop_contacts-adress a {
  display: flex;
  gap: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
}
.wrapper .header .header_inner .drop_contacts-phone a p,
.wrapper .header .header_inner .drop_contacts-mail-one a p,
.wrapper .header .header_inner .drop_contacts-mail-two a p,
.wrapper .header .header_inner .drop_contacts-adress a p {
  padding: 0;
  margin: 0;
}
.wrapper .header .header_inner .drop_contacts-phone span,
.wrapper .header .header_inner .drop_contacts-mail-one span,
.wrapper .header .header_inner .drop_contacts-mail-two span,
.wrapper .header .header_inner .drop_contacts-adress span {
  display: flex;
  flex-direction: column;
}
.wrapper .header .header_inner .mainPage {
  color: #000;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
}
.wrapper .header .specialButton {
  display: none;
}
.wrapper .price {
  margin-bottom: 40px;
}
.wrapper .price h1 {
  text-align: center;
  margin: 0 0 40px;
  color: #39513F;
}
.wrapper .price h3 {
  text-align: center;
  color: #39513F;
}
.wrapper .price table {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #39513F;
  border-collapse: collapse;
  min-width: 295px;
  box-sizing: border-box;
  width: 100%;
}
.wrapper .price table tr {
  height: 80px;
}
.wrapper .price table tr td {
  color: #fff;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1.5px solid #fff;
}
.wrapper .price table tr td + td {
  padding: 0 10px 0 0;
  width: 60px;
}
.wrapper .price table tr:last-child td {
  border-bottom: none;
}

/*MEDIA*/
@media (min-width: 768px) {
  .wrapper .header .header_inner .contacts_btn {
    display: none;
  }
  .wrapper .header .header_inner .drop_contacts {
    visibility: visible;
    opacity: 1;
    position: relative;
    background-color: transparent;
    flex-direction: row;
    width: auto;
    top: 0;
  }
  .wrapper .header .header_inner .drop_contacts .drop_contacts-phone a,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-mail-one a,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-mail-two a,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-adress a {
    color: #000;
  }
  .wrapper .header .header_inner .drop_contacts .drop_contacts-phone a svg path,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-mail-one a svg path,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-mail-two a svg path,
  .wrapper .header .header_inner .drop_contacts .drop_contacts-adress a svg path {
    stroke: #39513F;
  }
}
@media (min-width: 895px) {
  .drop_contacts {
    gap: 55px;
  }
}
@media (min-width: 1100px) {
  .wrapper {
    max-width: 1200px;
  }
  .wrapper .header .header_inner {
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  .wrapper .header .header_inner .mainPage {
    width: auto;
    margin: 0;
  }
  .wrapper .header .header_inner .logo {
    margin: 0;
    max-width: none;
  }
  .wrapper .header .header_inner .logo a img {
    width: auto;
    height: auto;
  }
  .wrapper .header .header_inner .contacts .drop_contacts {
    padding: 0;
  }
  .wrapper .price h3 {
    font-size: 28px;
    line-height: 30px;
  }
  .wrapper .price table tr td {
    font-size: 24px;
    line-height: 28px;
  }
  .wrapper .price table tr td + td {
    width: 120px;
  }
}
@media (min-width: 1440px) {
  .header .header_inner .specialButton {
    display: block;
    padding: 0 20px;
  }
}/*# sourceMappingURL=price.css.map */